* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  height: 5vh;
}

ul {
  padding: 15px 6px;
  font-size: 22px;
}

li {
  display: inline;
  margin: 0px 10px;
}

li a:link {
  text-decoration: none;
  color: white;
}

.slider {
  border-bottom: 10px solid white;
}

.card {
  display: block;
  background-image: linear-gradient(to bottom right, rgb(23, 243, 243), white);
}

.slider img {
  display: block;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}

.card .image {
  float: left;
  padding: 50px 0px 0px 30px;
  width: 10%;
}

.p-text {
  column-width: 250px;
  column-gap: 10px;
  column-rule: 4px solid black;
  height: 30vh;
  padding: 35px 20px 0px 30px;
  text-align: justify;
  font-size: 12px;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.footer {
  height: 4vh;
  background-color: black;
  text-align: center;
  color: white;
}
